<% layout('layouts/boilerplate') %>
<div class="video-container">
  <video
    autoplay
    muted
    loop
    poster="https://res.cloudinary.com/do0npzyzl/image/upload/v1718292904/YelpCamp/static/yg04oi98nb7abr2fimou.jpg"
  >
    <source
      src="https://res.cloudinary.com/do0npzyzl/video/upload/v1718292928/YelpCamp/static/wjrdgejlfmkfgnfyfeof.mp4"
      type="video/mp4"
    />
  </video>
</div>
<div class="row" style="max-width: 35rem; margin: auto">
  <h1 class="text-center text-light">Add Campground</h1>
  <div class="col-12">
    <form
      class="needs-validation"
      action="/campgrounds"
      method="POST"
      enctype="multipart/form-data"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label text-light" for="title">Title</label>
        <input
          class="form-control bg-transparent text-light"
          type="text"
          id="title"
          name="campground[title]"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label text-light" for="location">Location</label>
        <input
          class="form-control bg-transparent text-light"
          type="text"
          id="location"
          name="campground[location]"
          required
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label text-light"
          >Description</label
        >
        <textarea
          class="form-control bg-transparent text-light"
          id="description"
          rows="3"
          name="campground[description]"
          required
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="formFileMultiple" class="form-label text-light"
          >Upload Images
        </label>
        <input
          class="form-control bg-transparent text-light"
          type="file"
          id="formFileMultiple"
          name="image"
          multiple
        />
      </div>
      <div class="mb-3">
        <label class="form-label text-light" for="price"
          >Campground Price</label
        >
        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control bg-transparent text-light"
            id="price"
            aria-label="Username"
            aria-describedby="price-label"
            name="campground[price]"
            required
          />
        </div>
      </div>
      <button type="submit" class="btn btn-success mb-3">Add</button>
    </form>
  </div>
</div>
